<!DOCTYPE html>
<html ng-app="todoApp">
<head>
  <title>Todo</title>
  <script src="assets/js/angular.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <script src="assets/js/firebase.js"></script>
  <script src="assets/js/angularfire.min.js"></script>

  <script src="assets/js/app.js"></script>
</head>
<body ng-controller="todoCtrl">
<h4 class="list-group-item">Angular todos</h4>
<div ng-repeat="todo in todos"class="list-group-item">
    <input type="checkbox" ng-model="todo.done"/>
    <input type="text" ng-model="todo.text">
    <a href="" ng-click="move($index,'up')">Up</a>
    <a href="" ng-click="move($index,'down')">Down</a>
    <a href="" ng-click="removetodo($index)">Remove</a>

  </div>
  <form ng-submit="addtodo()" class="list-group-item">
    <input type="text" ng-model="todoText">
    <input type="submit">
  </form>
</body>
</html>