<!DOCTYPE html>
<html ng-app="todoApp">
<head>
  <title>Todo</title>
  <script src="assets/js/angular.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/app.css">
  <script src="assets/js/firebase.js"></script>
  <script src="assets/js/angularfire.min.js"></script>
  <script src="assets/js/app.js"></script>
</head>
<body ng-controller="todoCtrl">
<div class="container">
<h4 class="list-group-item">Angular todos</h4>
<div ng-repeat="todo in todos"class="list-group-item">
    <input type="checkbox" ng-model="todo.done"/>
    <input type="text" ng-model="todo.text" class="todo">
    <a href="" ng-click="move($index,'up')"><i class="fa fa-chevron-up fa-lg"></i></a>
    <a href="" ng-click="move($index,'down')"><i class="fa fa-chevron-down fa-lg"></i></a>
    <a href="" ng-click="removetodo($index)"><i class="fa fa-trash-o fa-lg"></i></a>

  </div>
  <form ng-submit="addtodo()" class="list-group-item">
    <input type="text" ng-model="todoText">
    <input type="submit">
  </form>
  </div>
</body>
</html>